.pytest_cache
/logs
/airflow_news/logs/*
/airflow_news/newsdbt/profiles.yml
/airflow_news/newsdbt/.user.yml
**/__pycache__
/airflow_news/dags/sql/*
/airflow_news/dags/news/logs/*

airflow_news/dags/test.ipynb
airflow_news/dags/news/yo.py
airflow_news/dags/news/rssfeedtest.py
airflow_news/dags/news/sentiment.ipynb
airflow_news/dags/news/yo.py
/test_news/fixtures/*
.env
./config/proxy_server.json
